

.popover {
  border:$widget-border-width $widget-border-type $widget-border-color;
  border-radius:$widget-border-radius;
  min-width:300px;
  max-width:80%;
}

.popover article,
.popover header,
.popover footer {
  padding:.8em 1em;
}

.popover header{
  @extend .clearfix;
  background:$widget-header-background;
}

.popover header > *{
  float:left;
  max-width:50%;
}

.popover header > *:last-child{
  float:right;
}

.popover footer {
  background:$widget-footer-background;
}

._popover-arrow {
  background:$widget-content-background;
	position: relative;
	border:$widget-border-width $widget-border-type $widget-border-color;
	
	&:after,
	&:before {
  	border: solid transparent;
  	content: " ";
  	height: 0;
  	width: 0; 
  	position: absolute;
  	pointer-events: none;
	}
	
	&.left:after,
	&.left:before{
	  right: 100%;
	}
	
	&.right:after,
	&.right:before{
	  left: 100%;
	}
	
	&.bottom:after,
	&.bottom:before{
	  top: 100%;
	}
	
	&.top:after,
	&.top:before{
	  bottom: 100%;
	}
	
	&.left:after {
	  border-right-color: $widget-content-background;
  	border-width: 5px;
  	top: 50%;
  	margin-top: -5px;
	}
	&.left:before {
	  border-right-color: $widget-border-color;
  	border-width: 6px;
  	top: 50%;
  	margin-top: -6px;
	}
	
	&.right:after {
	  border-left-color: $widget-content-background;
    border-width: 5px;
    top: 50%;
    margin-top: -5px;
	}
	
	&.right:before {
	  border-left-color: $widget-border-color;
    border-width: 6px;
    top: 50%;
    margin-top: -6px;
	}
	
	&.bottom:after {
	  border-top-color: $widget-content-background;
    border-width: 5px;
    left: 50%;
    margin-left: -5px;
	}
	
	&.bottom:before {
	  border-top-color: $widget-border-color;
    border-width: 6px;
    left: 50%;
    margin-left: -6px;
	}
	
	&.top:after {
	  border-bottom-color: $widget-content-background;
    border-width: 5px;
    left: 50%;
    margin-left: -5px;
	}
	
	&.top:before {
	  border-bottom-color: $widget-border-color;
    border-width: 6px;
    left: 50%;
    margin-left: -6px;
	}
	
}

._positionate {
  .active & {
    display:block;
    left:auto;
  }

 .active &.top,
 .active &.bottom {
    left:50%;
    top:100%;
  }

  .active &.left,
  .active &.right {
    top:50%;
    left:100%;
  }


  .active &.bottom {
    bottom:100%;
    top:auto;
  } 

  .active &.right{
    right:100%;
    left:auto;
  }
}




.popover.arrow {
  @extend ._popover-arrow;
  @extend ._positionate;
}
//change arrow background when positioned on top and bottom
.popover.arrow.top:after {
  border-bottom-color: $widget-header-background;
}

.popover.arrow.bottom:after {
  border-top-color: $widget-footer-background;
}




.btn-group .popover {
//  display:none;
  left:-999px;
  position:absolute!important;
  
}

.btn-group .ico, //remove this line 
.btn-group .active {
  position:relative;
}

.btn-group .active {
  z-index:200;
  
  -webkit-perspective:500px;
  	   -moz-perspective:500px;

  	-webkit-perspective-origin:50% 0;
  	   -moz-perspective-origin:50% 0;
}

.btn-group .active .popover{
  display:block!important;


//  -webkit-animation:opacityIn .8s ease-in-out 0 backwards;
//  -moz-animation:opacityIn .8s ease-in-out 0 backwards;
}

.btn-group .active .popover.left,
.btn-group .active .popover.right{
  -webkit-animation:rotX .6s ease-in-out 0 backwards;
  -moz-animation:rotX .6s ease-in-out 0 backwards;
}

.btn-group .active .popover.top,
.btn-group .active .popover.bottom{
  -webkit-animation:rotY .6s ease-in-out 0 backwards;
  -moz-animation:rotY .6s ease-in-out 0 backwards;
}

@-webkit-keyframes rotX{
	from{-webkit-transform:rotateX(-89deg);}
	40%{-webkit-transform:rotateX(45deg);}
	60%{-webkit-transform:rotateX(-23deg);}
	to{-webkit-transform:rotateX(0);}
} 

@-webkit-keyframes rotY{
	from{-webkit-transform:rotateY(-89deg);}
	40%{-webkit-transform:rotateY(45deg);}
	60%{-webkit-transform:rotateY(-23deg);}
	to{-webkit-transform:rotateY(0);}
}


@-webkit-keyframes opacityIn{
	0%   { opacity: 0; }
  100% { opacity: 1; }
} 

@-webkit-keyframes opacityOut{
	0%   { opacity: 1; }
  100% { opacity: 0; }
}






