// Your standard form button.
//
// :hover    - Highlights when hovering.
// :disabled - Dims the button when disabled.
// .primary  - Indicates button is the primary action.
// .smaller  - A smaller button
//
// Styleguide 5.1.1
.btn {
  @extend .inline-block;

  @include background(  linear-gradient(top, $clickable-gradient-colorStart, $clickable-gradient-colorEnd) );
  
  color:$btn-color;
  font-weight:bold;
  text-decoration:none;
  padding:.4em 1em;
  border-radius:$clickable-border-radius;
  border:$clickable-border-width solid $clickable-border-color;
  text-shadow:1px 1px 0px rgba(255,255,255,0.4);
  cursor:pointer;
  line-height:normal;
  
  &.icon {
    padding-left: .8em;
    padding-right: .4em;
  }
}

.btn:hover,
.btn.active {
  color:$btn-color-hover;
  @include background(  linear-gradient(top, $clickable-gradient-colorStart-hover, $clickable-gradient-colorEnd-hover) );
  text-shadow:1px 1px 0px rgba(255,255,255,0.6);
  border-color:$clickable-border-color-hover;
  
  @include box-shadow(1px 1px 1px rgba(0, 0, 0, 0.05), -1px -1px 1px rgba(0, 0, 0, 0.05));
}

.btn.active {
  @include background(  linear-gradient(top, darken($clickable-gradient-colorStart, 5%), darken($clickable-gradient-colorEnd, 5%)) );
  @include box-shadow(inset 0 1px 2px rgba(0, 0, 0, 0.1));
  border-right:$clickable-border-width solid $clickable-border-color-hover;
}






.btn-group {
  @extend .clearfix;
  @extend .inline-block;
}

.btn-group > * {
  @extend .btn;
  border-right:none;
  border-radius:0;
  float:left;
  
  position:relative;
}

.btn-group > div {
  padding-left:.8em;
  padding-right:.8em;
}

.btn-group > * > * {
  text-decoration:none;
  color:$btn-color;
}

.btn-group > *:last-child {
  border-right:$clickable-border-width solid $clickable-border-color;
  border-radius:0 $clickable-border-radius $clickable-border-radius 0;
}

.btn-group > *:first-child {
  border-radius:$clickable-border-radius 0 0 $clickable-border-radius;
}


.btn-group > *:not(.active):hover,
.btn-group > *:not(.active):last-child:hover {
  border-right:$clickable-border-width solid $clickable-border-color-hover;
  z-index:2;
  margin-right:-1px;
}

.btn-group > *:not(.active):last-child:hover{
  margin-right:0;
}

