<% content_for :head do %>
  <title>tuik.buttons</title>
<% end%>

<% content_for :js do %>
  <script type="text/javascript" charset="utf-8">
    $(function(){

      // $('.t-tabs').tuikTabs();

    });
  </script>

<% end%>



<div class="wrapper">
	
	
	  <a class="btn" href="#">Button</a>
	  
	  
	  <br><br>
	  
	  
	  <nav class="btn-group">
	    <a href="#">Button</a>
	    <a href="#">Button</a>
	    <a href="#">Button</a>
	  </nav>
	  
	  <br><br>
	  
	  
	  <span class="btn-group">
      <a href="#">Button</a>
      <a href="#" class="ico">▼</a>
	  </span>
	
	  <span class="btn-group">
	    <a href="#" class="ico">▼</a>
      <a href="#">Button</a>
	  </span>
	  
	  <span class="btn-group">
	    <a href="#" class="ico">▼</a>
	    <a href="#" class="ico">▲</a>
	    <a href="#" class="ico">◀</a>
	    <a href="#" class="ico">▶</a>
	    <a href="#" class="ico"></a>
      <a href="#">Button</a>
	  </span>
	
	  <br><br>
	  
	  
	  <br><br>
	  	  <br><br>
	  	  	  <br><br>
	  	  	  	  <br><br>

                                                	  	  	  	  	  	  	  
	
	  <div class="btn-group">
      <a href="#">Button</a>
      <div href="#" class="ico">
        <a href="#">▼</a>
        <div class="popover arrow top">
    	    <header>
    	     <strong>Title</strong>
    	    </header>
    	    <article>
    	     <h2>Example</h2> 
    	     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

    	     <p> <a href="#">Continue »</a></p>  
    	    </article>
    	    <footer class="ttr">
    	      <a class="btn" href="#">Button</a>
    	    </footer>
    	  </div>
        
      </div>
	  </div>
	  
	  
	  
	  <div class="btn-group">
      <a href="#">Button</a>
      <div href="#" class="ico">
        <a href="#">▼</a>
        <div class="popover arrow right">
    	    <header>
    	     <strong>Title</strong>
    	     <a class="ico close" data-icon="a">✖</a>
    	    </header>
    	    <article>
    	     <h2>Example</h2> 
    	     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

    	     <p> <a href="#">Continue »</a></p>  
    	    </article>
    	    <footer class="ttr">
    	      <a class="btn" href="#">Button</a>
    	    </footer>
    	  </div>
        
      </div>
	  </div>

	  <div class="btn-group">
      <a href="#">Button</a>
      <div href="#" class="ico">
        <a href="#">▼</a>
        <div class="popover arrow bottom">
    	    <header>
    	     <strong>Title</strong>
    	     <a class="ico close" data-icon="a">✖</a>
    	    </header>
    	    <article>
    	     <h2>Example</h2> 
    	     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

    	     <p> <a href="#">Continue »</a></p>  
    	    </article>
    	    <footer class="ttr">
    	      <a class="btn" href="#">Button</a>
    	    </footer>
    	  </div>
        
      </div>
	  </div>
	  
	  
	
	  <div class="btn-group">
      <a href="#">Button</a>
      <div href="#" class="ico">
        <a href="#">▼</a>
        <div class="popover arrow left">
    	    <header>
    	     <strong>Title</strong>
    	     <a class="ico close" data-icon="a">✖</a>
    	    </header>
    	    <article>
    	     <h2>Example</h2> 
    	     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

    	     <p> <a href="#">Continue »</a></p>  
    	    </article>
    	    <footer class="ttr">
    	      <a class="btn" href="#">Button</a>
    	    </footer>
    	  </div>
        
      </div>
	  </div>
	  
	  
	  <br><br>
	  	  <br><br>
	  	  	  <br><br>
	  	  	  	  <br><br>
	  
	  
	  
	  
	  
	  <div class="popover">
	    <header>
	     <strong>Title</strong>
	     <a class="ico close" data-icon="a">✖</a>
	    </header>
	    <article>
	     <h2>Example</h2> 
	     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	     
	     <p> <a href="#">Continue »</a></p>  
	    </article>
	    <footer class="ttr">
	      <a class="btn" href="#">Button</a>
	    </footer>
	  </div>
	  
	  
	  <div class="popover arrow bottom">
	    <header>
	     <strong>Title</strong>
	     <a class="ico close" data-icon="a">✖</a>
	    </header>
	    <article>
	     <h2>Example</h2> 
	     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	     
	     <p> <a href="#">Continue »</a></p>  
	    </article>
	    <footer class="ttr">
	      <a class="btn" href="#">Button</a>
	    </footer>
	  </div>
	  
	  <div class="popover arrow top ">
	    <header>
	     <strong>Title</strong>
	     <a class="ico close" data-icon="a">✖</a>
	    </header>
	    <article>
	     <h2>Example</h2> 
	     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	     
	     <p> <a href="#">Continue »</a></p>  
	    </article>
	    <footer class="ttr">
	      <a class="btn" href="#">Button</a>
	    </footer>
	  </div>
	  
	  
</div>