@mixin icon-characters {
  
  &[data-icon="glass"]:before              { content: "\f000"; }
  &[data-icon="music"]:before              { content: "\f001"; }
  &[data-icon="search"]:before             { content: "\f002"; }
  &[data-icon="envelope"]:before           { content: "\f003"; }
  &[data-icon="heart"]:before              { content: "\f004"; }
  &[data-icon="star"]:before               { content: "\f005"; }
  &[data-icon="star-empty"]:before         { content: "\f006"; }
  &[data-icon="user"]:before               { content: "\f007"; }
  &[data-icon="film"]:before               { content: "\f008"; }
  &[data-icon="th-large"]:before           { content: "\f009"; }
  &[data-icon="th"]:before                 { content: "\f00a"; }
  &[data-icon="th-list"]:before            { content: "\f00b"; }
  &[data-icon="ok"]:before                 { content: "\f00c"; }
  &[data-icon="remove"]:before             { content: "\f00d"; }
  &[data-icon="zoom-in"]:before            { content: "\f00e"; }
  
  &[data-icon="zoom-out"]:before           { content: "\f010"; }
  &[data-icon="off"]:before                { content: "\f011"; }
  &[data-icon="signal"]:before             { content: "\f012"; }
  &[data-icon="cog"]:before                { content: "\f013"; }
  &[data-icon="trash"]:before              { content: "\f014"; }
  &[data-icon="home"]:before               { content: "\f015"; }
  &[data-icon="file"]:before               { content: "\f016"; }
  &[data-icon="time"]:before               { content: "\f017"; }
  &[data-icon="road"]:before               { content: "\f018"; }
  &[data-icon="download-alt"]:before       { content: "\f019"; }
  &[data-icon="download"]:before           { content: "\f01a"; }
  &[data-icon="upload"]:before             { content: "\f01b"; }
  &[data-icon="inbox"]:before              { content: "\f01c"; }
  &[data-icon="play-circle"]:before        { content: "\f01d"; }
  &[data-icon="repeat"]:before             { content: "\f01e"; }
  
  /* \f020 is not a valid unicode character. all shifted one down */
  &[data-icon="refresh"]:before            { content: "\f021"; }
  &[data-icon="list-alt"]:before           { content: "\f022"; }
  &[data-icon="lock"]:before               { content: "\f023"; }
  &[data-icon="flag"]:before               { content: "\f024"; }
  &[data-icon="headphones"]:before         { content: "\f025"; }
  &[data-icon="volume-off"]:before         { content: "\f026"; }
  &[data-icon="volume-down"]:before        { content: "\f027"; }
  &[data-icon="volume-up"]:before          { content: "\f028"; }
  &[data-icon="qrcode"]:before             { content: "\f029"; }
  &[data-icon="barcode"]:before            { content: "\f02a"; }
  &[data-icon="tag"]:before                { content: "\f02b"; }
  &[data-icon="tags"]:before               { content: "\f02c"; }
  &[data-icon="book"]:before               { content: "\f02d"; }
  &[data-icon="bookmark"]:before           { content: "\f02e"; }
  &[data-icon="print"]:before              { content: "\f02f"; }

  &[data-icon="camera"]:before             { content: "\f030"; }
  &[data-icon="font"]:before               { content: "\f031"; }
  &[data-icon="bold"]:before               { content: "\f032"; }
  &[data-icon="italic"]:before             { content: "\f033"; }
  &[data-icon="text-height"]:before        { content: "\f034"; }
  &[data-icon="text-width"]:before         { content: "\f035"; }
  &[data-icon="align-left"]:before         { content: "\f036"; }
  &[data-icon="align-center"]:before       { content: "\f037"; }
  &[data-icon="align-right"]:before        { content: "\f038"; }
  &[data-icon="align-justify"]:before      { content: "\f039"; }
  &[data-icon="list"]:before               { content: "\f03a"; }
  &[data-icon="indent-left"]:before        { content: "\f03b"; }
  &[data-icon="indent-right"]:before       { content: "\f03c"; }
  &[data-icon="facetime-video"]:before     { content: "\f03d"; }
  &[data-icon="picture"]:before            { content: "\f03e"; }

  &[data-icon="pencil"]:before             { content: "\f040"; }
  &[data-icon="map-marker"]:before         { content: "\f041"; }
  &[data-icon="adjust"]:before             { content: "\f042"; }
  &[data-icon="tint"]:before               { content: "\f043"; }
  &[data-icon="edit"]:before               { content: "\f044"; }
  &[data-icon="share"]:before              { content: "\f045"; }
  &[data-icon="check"]:before              { content: "\f046"; }
  &[data-icon="move"]:before               { content: "\f047"; }
  &[data-icon="step-backward"]:before      { content: "\f048"; }
  &[data-icon="fast-backward"]:before      { content: "\f049"; }
  &[data-icon="backward"]:before           { content: "\f04a"; }
  &[data-icon="play"]:before               { content: "\f04b"; }
  &[data-icon="pause"]:before              { content: "\f04c"; }
  &[data-icon="stop"]:before               { content: "\f04d"; }
  &[data-icon="forward"]:before            { content: "\f04e"; }

  &[data-icon="fast-forward"]:before       { content: "\f050"; }
  &[data-icon="step-forward"]:before       { content: "\f051"; }
  &[data-icon="eject"]:before              { content: "\f052"; }
  &[data-icon="chevron-left"]:before       { content: "\f053"; }
  &[data-icon="chevron-right"]:before      { content: "\f054"; }
  &[data-icon="plus-sign"]:before          { content: "\f055"; }
  &[data-icon="minus-sign"]:before         { content: "\f056"; }
  &[data-icon="remove-sign"]:before        { content: "\f057"; }
  &[data-icon="ok-sign"]:before            { content: "\f058"; }
  &[data-icon="question-sign"]:before      { content: "\f059"; }
  &[data-icon="info-sign"]:before          { content: "\f05a"; }
  &[data-icon="screenshot"]:before         { content: "\f05b"; }
  &[data-icon="remove-circle"]:before      { content: "\f05c"; }
  &[data-icon="ok-circle"]:before          { content: "\f05d"; }
  &[data-icon="ban-circle"]:before         { content: "\f05e"; }

  &[data-icon="arrow-left"]:before         { content: "\f060"; }
  &[data-icon="arrow-right"]:before        { content: "\f061"; }
  &[data-icon="arrow-up"]:before           { content: "\f062"; }
  &[data-icon="arrow-down"]:before         { content: "\f063"; }
  &[data-icon="share-alt"]:before          { content: "\f064"; }
  &[data-icon="resize-full"]:before        { content: "\f065"; }
  &[data-icon="resize-small"]:before       { content: "\f066"; }
  &[data-icon="plus"]:before               { content: "\f067"; }
  &[data-icon="minus"]:before              { content: "\f068"; }
  &[data-icon="asterisk"]:before           { content: "\f069"; }
  &[data-icon="exclamation-sign"]:before   { content: "\f06a"; }
  &[data-icon="gift"]:before               { content: "\f06b"; }
  &[data-icon="leaf"]:before               { content: "\f06c"; }
  &[data-icon="fire"]:before               { content: "\f06d"; }
  &[data-icon="eye-open"]:before           { content: "\f06e"; }

  &[data-icon="eye-close"]:before          { content: "\f070"; }
  &[data-icon="warning-sign"]:before       { content: "\f071"; }
  &[data-icon="plane"]:before              { content: "\f072"; }
  &[data-icon="calendar"]:before           { content: "\f073"; }
  &[data-icon="random"]:before             { content: "\f074"; }
  &[data-icon="comment"]:before            { content: "\f075"; }
  &[data-icon="magnet"]:before             { content: "\f076"; }
  &[data-icon="chevron-up"]:before         { content: "\f077"; }
  &[data-icon="chevron-down"]:before       { content: "\f078"; }
  &[data-icon="retweet"]:before            { content: "\f079"; }
  &[data-icon="shopping-cart"]:before      { content: "\f07a"; }
  &[data-icon="folder-close"]:before       { content: "\f07b"; }
  &[data-icon="folder-open"]:before        { content: "\f07c"; }
  &[data-icon="resize-vertical"]:before    { content: "\f07d"; }
  &[data-icon="resize-horizontal"]:before  { content: "\f07e"; }

  &[data-icon="bar-chart"]:before          { content: "\f080"; }
  &[data-icon="twitter-sign"]:before       { content: "\f081"; }
  &[data-icon="facebook-sign"]:before      { content: "\f082"; }
  &[data-icon="camera-retro"]:before       { content: "\f083"; }
  &[data-icon="key"]:before                { content: "\f084"; }
  &[data-icon="cogs"]:before               { content: "\f085"; }
  &[data-icon="comments"]:before           { content: "\f086"; }
  &[data-icon="thumbs-up"]:before          { content: "\f087"; }
  &[data-icon="thumbs-down"]:before        { content: "\f088"; }
  &[data-icon="star-half"]:before          { content: "\f089"; }
  &[data-icon="heart-empty"]:before        { content: "\f08a"; }
  &[data-icon="signout"]:before            { content: "\f08b"; }
  &[data-icon="linkedin-sign"]:before      { content: "\f08c"; }
  &[data-icon="pushpin"]:before            { content: "\f08d"; }
  &[data-icon="external-link"]:before      { content: "\f08e"; }

  &[data-icon="signin"]:before             { content: "\f090"; }
  &[data-icon="trophy"]:before             { content: "\f091"; }
  &[data-icon="github-sign"]:before        { content: "\f092"; }
  &[data-icon="upload-alt"]:before         { content: "\f093"; }
  &[data-icon="lemon"]:before              { content: "\f094"; }
  
}

//@font-face {
//    font-family: 'EntypoRegular';
//    src: url('../fonts/entypo/entypo-webfont.eot');
//    src: url('../fonts/entypo/entypo-webfont.eot?#iefix') format('embedded-opentype'),
//         url('../fonts/entypo/entypo-webfont.woff') format('woff'),
//         url('../fonts/entypo/entypo-webfont.ttf') format('truetype'),
//         url('../fonts/entypo/entypo-webfont.svg#EntypoRegular') format('svg');
//    font-weight: normal;
//    font-style: normal;
//}
//
//
//@font-face {
//    font-family: 'FontAwesome';
//    src: url('../font/font-awesome/fontawesome-webfont.eot');
//    src: url('../font/font-awesome/fontawesome-webfont.eot?#iefix') format('embedded-opentype'), 
//         url('../font/font-awesome/fontawesome-webfont.woff') format('woff'),
//         url('../font/font-awesome/fontawesome-webfont.ttf') format('truetype'),
//         url('../font/font-awesome/fontawesome-webfont.svgz#FontAwesomeRegular') format('svg'),
//         url('../font/font-awesome/fontawesome-webfont.svg#FontAwesomeRegular') format('svg');
//    font-weight: normal;
//    font-style: normal;
//}
//
//
//
//.icon {
//  text-decoration:none!important;
//}
//
//
////[data-icon] is used to not target .icon elements withouts data-icon attribute assigned
//.icon[data-icon]:before,
//.icon-before[data-icon]:before,
//.icon-after[data-icon]:after {
//  content: attr(data-icon);
//  font-family: 'FontAwesome';
//  font-size:1.8em;
//  line-height:0;
//  position:relative;
//  bottom:-.1em;
//  text-shadow:1px 1px 0px rgba(255,255,255,0.6);
//}
//
//.icon[data-icon]:before,
//.icon-before[data-icon]:before{
//  margin-right:6px;  
//}
//
//.icon-after[data-icon]:after {
//  margin-left:6px;
//}
//
//.icon > span {
//  display:none;
//}
//
//
//
//
//
//
//
//
//
//






/*  Font Awesome
    the iconic font designed for use with Twitter Bootstrap
    -------------------------------------------------------
    The full suite of pictographic icons, examples, and documentation
    can be found at: http://fortawesome.github.com/Font-Awesome/

    License
    -------------------------------------------------------
    The Font Awesome webfont, CSS, and LESS files are licensed under CC BY 3.0:
    http://creativecommons.org/licenses/by/3.0/ A mention of
    'Font Awesome - http://fortawesome.github.com/Font-Awesome' in human-readable
    source code is considered acceptable attribution (most common on the web).
    If human readable source code is not available to the end user, a mention in
    an 'About' or 'Credits' screen is considered acceptable (most common in desktop
    or mobile software).

    Contact
    -------------------------------------------------------
    Email: dave@davegandy.com
    Twitter: http://twitter.com/fortaweso_me
    Work: http://lemonwi.se co-founder

    */
   
@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/font-awesome/fontawesome-webfont.eot');
    src: url('../fonts/font-awesome/fontawesome-webfont.eot?#iefix') format('embedded-opentype'), 
         url('../fonts/font-awesome/fontawesome-webfont.woff') format('woff'),
         url('../fonts/font-awesome/fontawesome-webfont.ttf') format('truetype'),
         url('../fonts/font-awesome/fontawesome-webfont.svgz#FontAwesomeRegular') format('svg'),
         url('../fonts/font-awesome/fontawesome-webfont.svg#FontAwesomeRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* sprites.less reset */
._icon {
  display: inline;
  width: auto;
  height: auto;
  line-height: inherit;
  vertical-align: baseline;
  background-image: none;
  background-position: 0% 0%;
  background-repeat: repeat;
  
  
  &:before{
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: inherit;
  }
  
  > span { // accessibility
    display:none;
  }
  
  @include icon-characters;
  
  
}

.icon {
  @extend ._icon;
  text-decoration:none;
}


//a [class^="icon-"],
//a [class*=" icon-"] {
//    display: inline-block;
//    text-decoration: inherit;
//}

///* makes the font 33% larger relative to the icon container */
//.icon-large:before {
//    vertical-align: top;
//    font-size: 4/3em;
//}

.btn {
  
    .icon {
        /* keeps button heights with and without icons the same */
        line-height: .9em;
        min-width: 31px;
    }
    
    &.icon:before {
      margin-right:7px;
    }
}

//li {
//    [class^="icon-"],
//    [class*=" icon-"] {
//        display: inline-block;
//        width: 1.25em;
//        text-align: center;
//    }
//    .icon-large[class^="icon-"],
//    .icon-large[class*=" icon-"]  {
//        /* 1.5 increased font size for icon-large * 1.25 width */
//        width: 1.5*1.25em;
//    }
//}

//li[class^="icon-"],
//li[class*=" icon-"] {
//    margin-left: 0;
//    list-style-type: none;
//
//    &:before {
//        text-indent: -2em;
//        text-align: center;
//    }
//    &.icon-large:before {
//        text-indent: -4/3em;
//    }
//}

/*  Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
    readers do not read off random characters that represent icons */
    
