<% content_for :title do %>tuik.Popover<% end%>

<% content_for :js do %>
  <%= javascript_include_tag "tuik.core" %>
  
  <%= javascript_include_tag "../../tests/tuik.core" %>
<% end%>

<div class="example-1"></div>